# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Editor / operating system files
.vscode/
.DS_Store
Thumbs.db

# Project datasets
data/raw/*
data/interim/*
data/processed/*

# Allow Git to retain the data folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep